useDynLib(energy, .registration=TRUE)

importFrom(Rcpp, evalCpp)
importFrom("stats", "as.dist", "dist", "dnorm", "hclust", "model.matrix",
           "pnorm", "pt", "rnorm", "rpois", "var")
importFrom(boot, boot)

export(
  bcdcor,
  D_center,
  Dcenter,
  dcor,
  DCOR,
  dcor.t,
  dcor.test,
  dcor.ttest,
  dcov,
  dcov.test,
  dcovU,
  dcovU_stats,
  dcovU.test,
  dcovV.test,
  disco,
  disco.between,
  edist,
  energy.hclust,
  eqdist.e,
  eqdist.etest,
  indep.test,
  ksample.e,
  mvI,
  mvI.test,
  mvnorm.e,
  mvnorm.etest,
  normal.e,
  pdcor,
  pdcor.test,
  pdcov,
  pdcov.test,
  poisson.m,
  poisson.mtest,
  sortrank,
  U_center,
  U_product,
  Ucenter
)

S3method(print, disco)
